.main {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.title-navigation {
    display: flex;
    flex-direction: column;
}

.title {
    background-color: yellow;
    height: 200px;
}

.navigation {
    background-color: red;
    height: 100px;
}

.dad {
    display: flex;
    flex-direction: row;
}

.article-one {
    background-color: green;
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.child {
    width: 50px;
    height: 50px;
    background-color: purple;
    border: 2px solid black;
    margin: 50px 0 0 10px;
}

.aside-list-1 {
    background-color: pink;
    width: 30%;
    height: 200px;
}

.mom {
    display: flex;
    flex-direction: row;
}

.article-two {
    background-color: blue;
    width: 70%;
    height: 200px;
}

.aside-list-2 {
    background-color: aquamarine;
    width: 30%;
    height: 200px;
}

.footer {
    background-color: brown;
    height: 100px;
}